h1, h2, h3,
h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
    font-family: $header-font;
    span {
        color: $secondary-color;
    }
}

h1 {
    font-size: 3.8rem;
    line-height: 1.2em;
    letter-spacing: -2px;
    text-indent: -3px;
    @include bp(sm) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 2.5rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent: -2px;
    @include bp(sm) {
        font-size: 2.8rem;
    }
}

h3 {
    font-size: 2rem;
    @include bp(sm) {
        font-size: 2.1rem;
    }
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

a {
    color: $primary-color;
    transition: color ease 0.3s;
}

a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
    color: darken($primary-color, 10%);
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
    color: darken($primary-color, 10%);
    text-decoration: none;
    &:hover, &:active {
        color: darken($primary-color, 18%);
    }
}


p, ul, ol {
    margin: 1.6em 0;
}

ol ol, ul ul,
ul ol, ol ul {
    margin: 0.4em 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    margin: 3.2em 0;
    padding: 0;
}
