
</div>
<div class="row footer">
	<div class="container">
		<div class="col-xs-4">
			<!-- <button>« Back</button> -->
		</div>
		<div class="col-xs-4">
			<a class="next-button">Next »</a>
		</div>
	</div>
</div>


</body>
</html>