<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Design Selector</title>
  <link rel="stylesheet" media="screen" href="css/app.css">
</head>
<body>


<div id="main">
	<div class="row header-wrapper">
		<div class="container">
			<div class="col-xs-3 logo-wrapper">
				<img src="https://www.dealertrack.com/public/images/NewLogo.png" />
			</div>
			
		</div>
	</div>
	<div class="row status-bar-wrapper selected-wrapper">
		<div class="container">
			<div class="col-xs-4 title-wrapper">
				<h2>Responsive Design Selector</h2>
			</div>
			<div class="col-xs-4">
				<ul class="breadcrumb">
					<li class="active"><a href="/">1. Design</a></li>
					<li><a href="/layouts.html">2. Layout</a></li>
					<li><a href="/styles.html">3. Color</a></li>
					<li><a href="#">4. Finalize</a></li>
				</ul>
			</div>
		</div>
	</div>