#main {
	padding-bottom: 8rem;
}

.footer {
   display: none;
	background: black;
	padding: 1em;
	border-bottom: 6px solid #868686;
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;

   & a {
   	padding: .8em 3em;
   	border: none;
   	background: $primary-color;
   	cursor: pointer;
   	border-radius: $border-radius - 4;
   	transition: $transition;
      color: #333;
      font-size: .8em;
      font-weight: bold;
      text-decoration: none;
   }

   & .next-button {
   	float: right;
   	background: $dt-success;
   }

   & a:hover {
   	background: #ccc;
   }
}