body {
	background-color: #E7E7E7;
}

.header-wrapper {
  width: 100%;
  background-color: #000;
  border-bottom: 5px solid #868686;
  color: white;
  

  & .container {
  	padding: 0 1em 1em 1em;
  }
 }

 .title-wrapper {
  color: white;
 }

 .logo-wrapper {
 	padding: 0 1em 1em 1em;

 	// & img {
 	// 	float: right;
 	// }
 }