body {
	background-color: #E7E7E7;
}

.header-wrapper {
  width: 100%;
  background-color: #000;
  border-bottom: 5px solid #868686;
  color: white;


  & .container {
  	padding: 0 1em;
  }
 }

 .title-wrapper {
  color: white;
  h2 {
  	font-size: 2.3rem;
  }
 }

 .logo-wrapper {
 	padding: 0 1em .3em;
 }

.current-selection {
	padding-top: 2.5em;
	float: right;
	color: $header-font-color;
	font-weight: bold;
}
