

$step-counter-color: #CCCCCC;

$selected-wrapper: $dt-blue;

$breadcrumb-primary-color: $primary-color;

.step-title-wrapper {
	text-align: center;
	margin-top: 75px;
	padding: 20px;
	font-size: 1.5em;
	border-radius: $border-radius;
	background: $primary-color;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$primary-color', endColorstr='#ffffff');
	background: -webkit-linear-gradient($primary-color, #ffffff);
	background: -moz-linear-gradient($primary-color, #ffffff);
	background: -o-linear-gradient($primary-color, #ffffff);
	background: linear-gradient($primary-color, #ffffff);
}

.selected-wrapper {
	background: $selected-wrapper;
	padding: .5em 0;	
}

.selected-holder-wrapper {
	display: block;

	& span {
		float: left;
	}
}

.selected-holder {
	border-radius: 3px;
	padding: .1em;
	background: $breadcrumb-primary-color;
	display: block;
	float: right;
	width: 88%;
	min-height: 28px;
}

.breadcrumb { 
	list-style: none; 
	overflow: hidden;
	margin: 0;

	& li {
		float: left;

		& a {
			color: black;
			text-decoration: none; 
			padding: 13px 0 13px 55px;               /* fallback color */
			background: $breadcrumb-primary-color; 
			position: relative; 
			display: block;
			float: left;
			font-size: .8em;
		}

		& a:hover {
			color: white;
		}

		& a:after {
			content: " "; 
			display: block; 
			width: 0; 
			height: 0;
			border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
			border-bottom: 50px solid transparent;
			border-left: 30px solid $breadcrumb-primary-color;
			position: absolute;
			top: 50%;
			margin-top: -50px; 
			left: 100%;
			z-index: 2;
		}

		& a:before {
			content: " "; 
			display: block; 
			width: 0; 
			height: 0;
			border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
			border-bottom: 50px solid transparent;
			border-left: 30px solid $selected-wrapper;
			position: absolute;
			top: 50%;
			margin-top: -50px; 
			margin-left: 3px;
			left: 100%;
			z-index: 1;
		}
	}
}

.breadcrumb li:first-child a {
	padding-left: 20px;
}

.breadcrumb li.active a {
	background: $dt-success;
	color: white;	
}

.breadcrumb li.active a:after {
	border-left: 30px solid $dt-success;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
}

.breadcrumb li.completed a {
	background: $dt-blue-hover;	
	color: white;
}

.breadcrumb li.completed a:after {
	border-left: 30px solid $dt-blue-hover;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
}

.breadcrumb li a:hover { 
	background: $dt-blue-hover;

	&:after {
		border-left-color: $dt-blue-hover !important; 
	} 
}
